.MoreContent-BG {
  background-image: url(../../../public/tutor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover contain;
  min-height: 60rem;
  width: 100%;
}

.cta-paragraph {
  padding-top: 20vh;
  height: 100%;
  width: 50%;
}

@media (max-width: 1400px) {
  .MoreContent-BG {
    background-image: url(../../../public/pexels-katerina-holmes-5905492\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50rem;
  }

  .cta-paragraph {
    padding-top: 15vh;
    color: white;
    width: 100%;
  }
}
