.MoreContent-BG {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../../public/Learning.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: auto;
}

.cta-content {
  padding: 5vh 0;
  display: inline-block;
  padding: auto 0;
}

.cta-paragraph {
  height: 100%;
  width: 70%;
  color: white;
}

@media (max-width: 1400px) {
  .MoreContent-BG {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .cta-paragraph {
    color: white;
    width: 100%;
    padding-bottom: 2%;
  }

  .bubbles {
    background-image: none;
  }

  .learning-img {
    display: none;
  }
}
