/* Info CSS */
.info-container {
  max-width: 30%;
  max-height: 30%;
  margin: 5% 0%;
  border-radius: 1rem;
  flex-wrap: wrap;
}

.content {
  margin: 5% 5%;
}

@media (max-width: 800px) {
  .info-container {
    max-width: 60rem;
    margin: auto;
  }
  .content-container {
    row-gap: 3rem;
    margin: 4%;
  }
}
