/* Hero CSS */

.hero-bg {
  margin: 0;
  padding: 0;
  background-image: url(../../../public/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.hero-text {
  padding-top: 30vh;
}

.sub-titel {
  margin-bottom: 1%;
  width: 45%;
}

@media (max-width: 767px) {
  .hero-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(../../../public/HeroMobile.jpg);
  }

  .sub-titel {
    width: 100%;
    font-weight: normal;
  }

  .hero-title {
    word-spacing: -0.4rem;
  }
}
