.faq {
  min-height: auto;
  margin-bottom: 2%;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.questions {
  width: 40%;
}

.awnsers {
  padding: 2% 2%;
}

.faq h3 {
  padding-top: 2%;
}

.newsletter {
  width: 40%;
}

select,
input {
  font-weight: bold;
  content: "<>";
  font-size: var(--font-size-sub-titel);
  color: #333;
  right: 11px;
  padding: 0 1%;
  margin-top: 1%;
  width: 100%;
  min-height: 4vh;
  border: none;
  border-radius: 0.5em;
}

input {
  width: 80%;
}

.exclaimer {
  padding-top: 1%;
  padding-bottom: 3%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
@media (max-width: 1024px) {
  .faq {
    display: block;
  }

  .questions {
    width: 90%;
  }

  .newsletter {
    width: 90%;
  }

  input,
  select {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
}
