.btn {
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: var(--color-white);
  text-align: center;
  border: 0.3rem solid var(--primary-color);
  transition: all 0.2s ease;
}

.btn-outline {
  background-color: none;
  border: 0.3rem solid var(--primary-color);
  margin-left: 1%;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: var(--color-white);
  text-align: center;
  transition: all 0.2s ease;
}

.btn-outline:hover {
  background-color: var(--primary-color-hover);
  border: 0.3rem solid var(--primary-color-hover);
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: var(--primary-color-hover);
  border: 0.3rem solid var(--primary-color-hover);
  transition: all 0.2s ease;
}

@media (max-width: 768px) {
  .btn {
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  .btn-outline {
    font-size: 2rem;
  }
}
